# ignoring dirs and files created by program
**/backups
**/rechnungen
**/stammdaten
/system/properties.yml
# ignore virtual env
**/venv
# ignore idea lirary
**/.idea
# ignore every file in dir
*
# except
!main.py
!README.md
!setup.py
!.gitignore
!/system/components/**
!/system/updater/updater.py
!requirements.txt

